body {
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
}

#form, #form > *, #result, #title, #subtitle {
    margin: 16px;
}

#title {
    color: #2f2f2f;
}

#subtitle {
    color: #626262;
}

#form {
    border-radius: 8px;
    background: #eeeeee;
    width: 300px;
}

#form label {
    margin-bottom: 3px;
}

#result {
    line-height: 1.8;
    border-radius: 4px;
    border: 1px solid grey;
    padding: 10px 20px;
    width: 260px;
}

#result ul {
    list-style: none;
}

#result > ul {
    padding: 0px;
    margin: 0px;
}